body {
    background-color: #31913e;
    color: #2aaa26;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0300b6;
    color: rgb(190, 42, 42);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color:#0300b6;
}

p {
    font-size: 18px;
    line-height: 1.6;
}